.sidebar {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 2;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a.active {
    background-color: #092D74;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  
  .sidebar .bottom-link {
    margin-top: auto; 
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 900px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      flex-direction: row;
    }
    .sidebar a { float: left; }
    div.content { margin-left: 0; }
  }
  
  @media screen and (max-width: 900px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }